<div class="row">
  <div class="col-6 mx-auto mt-3">
    <div class="row mb-3">
      <div class="col-3"><small class="text-danger mr-5">*必填欄位</small></div>
      <div class="col-9">
        {{#if record}}
        <h5>請修改你的支出</h5>
        {{else}}
        <h5>請輸入你的支出</h5>
        {{/if}}
      </div>
    </div>

    <form action={{#if record}}"/records/{{record._id}}/?_method=PUT"{{else}}"/records"{{/if}}, method="POST">
      <div class="form-group">
        <label for="name">名稱*: </label>
        <input type="text" class="form-control" id="name" name="name"value="{{record.name}}"required>
      </div>
      <div class="form-group">
        <label for="date">日期*: </label>
        <input type="date" class="form-control" id="date" name="date" value="{{record.date}}"required>
      </div>
      <div class="form-group">
        <label for="category">類別*: </label>
        <select name="categoryId" class="form-control" id="category">
          {{#each categories}}
          <option value="{{this._id}}"{{#ifCond record.categoryId this._id}}selected{{/ifCond}}>
            {{this.name}}
          </option>
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label for="amount">金額*: </label>
        <input type="number" class="form-control" id="amount" name="amount" value="{{record.amount}}" min ="0" required>
      </div>
      <button type="submit" class="btn btn-primary">{{#if record}}送出{{else}}新增支出{{/if}}</button>
    </form>

  </div>
</div>